.button-section {
    text-align: center;
    margin-top: 75px;
}

#next-button, #back-button {
    width: 250px;
    padding: 10px 20px;
    border-radius: 10px;
    border: 3px #ff835a solid;
    font-family: permanent marker;
    font-size: 18px;
    color: #ff835a;
    margin-top: 10px;
    margin-right: 15px;
    margin-left: 15px;
}

#next-button:hover , #back-button:hover {
    box-shadow: 10px 10px 5px#ff835a;
}

p {
    font-family: nunito;
    color: #ff835a;
    font-weight: 700;
}