@import url('https://fonts.googleapis.com/css?family=Nunito|Permanent+Marker&display=swap');

body {
    background-color: #ffe6e6;
    margin: 0;
}

header {
    background-color: white;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 20px #ff835a solid;
    width: 100%;
}

h1 {
    font-family: permanent marker;
    color: #ee5a31;
    font-size: 72px;
}

header img {
    width: 150px;
    height: 140px;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.sidebar {
    margin-top: 100px;
    margin-bottom: 50px;
    text-align: center;
}

.sidebar h2 {
    font-family: Nunito;
    color: #ee5a31;
}

input {
    width: 150px;
    border: 1px solid #ee5a31;
    height: 20px;
    border-radius: 4px;
    box-sizing: border-box;
}

select {
    width: 157px;
    border: 1px solid #ee5a31;
    height: 20px;
    border-radius: 4px;
    box-sizing: border-box;
}

/* found on https://ianlunn.github.io/Hover/ */
header img:hover {
    -webkit-animation-name: hvr-wobble-to-bottom-right;
    animation-name: hvr-wobble-to-bottom-right;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

/* found on https://ianlunn.github.io/Hover/ */
@-webkit-keyframes hvr-wobble-to-bottom-right {
    16.65% {
      -webkit-transform: translate(8px, 8px);
      transform: translate(8px, 8px);
    }
    33.3% {
      -webkit-transform: translate(-6px, -6px);
      transform: translate(-6px, -6px);
    }
    49.95% {
      -webkit-transform: translate(4px, 4px);
      transform: translate(4px, 4px);
    }
    66.6% {
      -webkit-transform: translate(-2px, -2px);
      transform: translate(-2px, -2px);
    }
    83.25% {
      -webkit-transform: translate(1px, 1px);
      transform: translate(1px, 1px);
    }
    100% {
      -webkit-transform: translate(0, 0);
      transform: translate(0, 0);
    }
  }
  @keyframes hvr-wobble-to-bottom-right {
    16.65% {
      -webkit-transform: translate(8px, 8px);
      transform: translate(8px, 8px);
    }
    33.3% {
      -webkit-transform: translate(-6px, -6px);
      transform: translate(-6px, -6px);
    }
    49.95% {
      -webkit-transform: translate(4px, 4px);
      transform: translate(4px, 4px);
    }
    66.6% {
      -webkit-transform: translate(-2px, -2px);
      transform: translate(-2px, -2px);
    }
    83.25% {
      -webkit-transform: translate(1px, 1px);
      transform: translate(1px, 1px);
    }
    100% {
      -webkit-transform: translate(0, 0);
      transform: translate(0, 0);
    }
  }

/*  setting up grid-areas */

.header         {grid-area: header;}
.sidebar        {grid-area: sidebar;}
.content        {grid-area: content;}
.next-button    {grid-area: button;} 

.wrapper {
    max-width: 100%;
    margin: 0 auto;
    display: grid;
    grid-gap: 20px;
    grid-template-areas: 
        "header"
        "sidebar"
        "content"
        "button";
}

@media (mid-width: 500px) {
    .wrapper {
        grid-template-columns: 100%;
        grid-template-areas:
        "header"
        "sidebar"
        "content"
        "button";
    }
}

@media (min-width: 700px) {
    .wrapper {
        grid-template-columns: 1fr 3fr;
        grid-template-areas: 
        "header header"
        "sidebar content"
        "sidebar button";
    }
}

ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

li {
    list-style: none;
    width: 250px;
    text-align: center;
    border: #ff835a 3px solid;
    border-radius: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}

li:hover {
    box-shadow: 10px 10px 5px#ff835a;
}

li img {
    width: 150px;
}

li p {
    font-family: nunito;
    font-size: 14px;
}

li h2{
    font-family: Nunito;
    font-weight: 700;
    color: #ee5a31;
    text-align: center;
}

footer {
    background-color: white;
    margin-top: 50px;
    margin-bottom: 0;
    height: 150px;
    align-self: center;
    border-top: 20px #ff835a solid;
}

footer p{
    text-align: center;
    font-family: permanent marker;
    font-size: 30px;
    color: #ee5a31;
    padding-top: 25px;
}

.button-section {
    margin: 0 auto;
    display: flex;
}

#next-button {
    width: 250px;
    padding: 10px 20px;
    border-radius: 10px;
    border: 3px #ff835a solid;
    font-family: permanent marker;
    font-size: 18px;
    color: #ff835a;
}

#next-button:hover {
    box-shadow: 10px 10px 5px#ff835a;
}

#next-button {
    margin: 0 auto;
}