@import url('https://fonts.googleapis.com/css?family=Nunito|Permanent+Marker&display=swap');

body {
    background-color: #ffe6e6;
    margin: 0;
}

footer {
    background-color: white;
    margin-top: 50px;
    margin-bottom: 0;
    height: 150px;
    align-self: center;
    border-top: 20px #ff835a solid;
}

footer p{
    text-align: center;
    font-family: permanent marker;
    font-size: 30px;
    color: #ee5a31;
    padding-top: 25px;
}